h2.title {
    font-family: 'josefin sans', sans-serif;
    font-size: 34px;
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin-bottom: 30px;
}

div.image.individual {
	height: 300px;
	width: 300px;
	float: left;
  margin: 0 40px 40px 0;
}
div.image.individual.vertical {
	height: 600px;
}
div.image.individual.horizontal {
  width: 600px;
}
@media (max-width: 800px) { 
    div.image.individual{ 
      width: 100%;
      height: unset;
    }
    div.image.individual.big{ 
      width: 100%;
      height: unset;
    }
    div.image.individual.vertical {
      width: 150px;
      height: 300px;
    }
}
.blog-content a {
  border-bottom: 3px solid #ee9ca7;
  padding: 0 3px;
  /* transition: all 5000ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: all 0.3s linear;
  position: relative;
}
/* .blog-content a:hover {
   background: linear-gradient(to right, #ee9ca7 49%,#ffc3a0 100%); 
} */
.blog-content a::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
  background: linear-gradient(to right, #ee9ca7 49%,#ffc3a0 100%); 
  z-index: -1;
}

.blog-content a:hover::after {
  width: 100%;
}

.lipstech-site {
	display: inline-block;
	position: relative;
	color: #000;
	background: #fff;
  mix-blend-mode: multiply;
  text-align: center;
  display: block;
  font-size: 18px;
  padding: 50px;
  font-family: 'Lato';
}

.lipstech-site:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  /* right: 0;
  bottom: 0; */
	left: 0;
	width: 0;
	height: 100%;
  pointer-events: none;
	background: linear-gradient(to right, #ee9ca7 49%,#ffc3a0 100%);
	mix-blend-mode: screen;
	transition: width 0.3s ease;
}

.lipstech-site:hover:before {
	width: 100%;
}