h2.title {
    font-family: "Raleway", sans-serif;
    font-size: 34px;
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin-bottom: 30px;
}

div.image.individual {
	height: 300px;
	width: 300px;
	float: left;
  margin: 0 40px 40px 0;
}
div.image.individual.vertical {
	height: 600px;
}
div.image.individual.horizontal {
	width: 600px;
}